<!DOCTYPE html>
<html>
    <head>
        <title>Blum Blum Shub</title>
        <script src="scripturi/BBS.js"></script>
        <link rel="stylesheet" href="CSS/style.css" type="text/css" />
    </head>
<body>

<h2 id="text1">Blum Blum Shub</h1>

<div id="formular" class="centrat">
<form method="post" class="date"  action="/getinput" enctype="multipart/form-data">
<p id="text1">Enter p </p>
    <textarea id="p" name="p" placeholder="7"></textarea>

<p id="text1">Enter q </p>
    <textarea id="q" name="q" placeholder="11"></textarea>

<p id="text1">Enter s </p>
    <textarea id="s" name="s" placeholder="2"></textarea>

<p id="text1">Enter mb </p>
    <textarea id="mb" name="mb" placeholder="10"></textarea>
<br><br><br>
<input class="button" type="submit" id="buton" ></input>
</form>
<br><br>
</div>

<p id = "rezultat"></p>


</body>
</html>
